<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Deklarasi Hak Akses Jaringan/Internet untuk Volley & Glide -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Warungin"
        android:usesCleartextTraffic="true"> <!-- Mengizinkan request HTTP jika diperlukan API -->

        <!-- 1. Splash Screen sebagai Launcher utama -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Warungin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Layar Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 3. Layar Utama (MainActivity - BottomNav) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 4. Detail Produk -->
        <activity
            android:name=".DetailProdukActivity"
            android:exported="false" />

        <!-- 5. Form Tambah/Ubah Produk -->
        <activity
            android:name=".TambahProdukActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 6. Form Catat Penjualan -->
        <activity
            android:name=".TambahPenjualanActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 7. Jelajah Produk dari API Online -->
        <activity
            android:name=".JelajahActivity"
            android:exported="false" />

    </application>

</manifest>